@model GestionSiembra.Models.OlvideMiPasswordViewModel
    
@{
    ViewData["Title"] = "¿olvidaste tu contraseña";
}

<div class="card">
    <div class="card-body">
        <h1>Recuperar Cuenta</h1>
      @*   <p class="fw-bold">@ViewBag.Mensaje</p> *@
    
    <form asp-action="OlvideMiPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email "class="form-control" autocomplete="off" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <a class="btn btn-dark"asp-action="Login">Regresar al login</a>
        <button class="btn btn-primary">Recueperar</button>
    </form>
     </div>
</div>